@font-face {
  font-family: "iconfont"; /* Project id 3787256 */
  src: url('iconfont.woff2?t=1669440890502') format('woff2'),
       url('iconfont.woff?t=1669440890502') format('woff'),
       url('iconfont.ttf?t=1669440890502') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chajian1:before {
  content: "\e69d";
}

.icon-liulanqi:before {
  content: "\e605";
}

.icon-mysql:before {
  content: "\ec6d";
}

.icon-bokeyuan:before {
  content: "\e604";
}

.icon-kaifa:before {
  content: "\e6ae";
}

.icon-nginx:before {
  content: "\ec30";
}

.icon-wangzhantubiaoji2_huaban1fuben24:before {
  content: "\e608";
}

.icon-outline-java-script:before {
  content: "\e704";
}

.icon-gupiao-copy:before {
  content: "\e63d";
}

.icon-deepin:before {
  content: "\eb74";
}

.icon-zhuomian:before {
  content: "\e6c2";
}

.icon-shujukaifajiaobenkaifa:before {
  content: "\e65c";
}

.icon-bushu:before {
  content: "\e676";
}

.icon-yinle1:before {
  content: "\e60d";
}

.icon-shipin1:before {
  content: "\e603";
}

.icon-bizhiputie:before {
  content: "\e614";
}

.icon-dingding:before {
  content: "\e709";
}

.icon-paihangbang:before {
  content: "\e68f";
}

.icon-dingding1:before {
  content: "\e690";
}

.icon-icon-test:before {
  content: "\e618";
}

.icon-leetcode:before {
  content: "\ebf2";
}

.icon-leetcode1:before {
  content: "\e60e";
}

.icon-json:before {
  content: "\e639";
}

.icon-neiwang:before {
  content: "\e6a4";
}

.icon-java:before {
  content: "\e746";
}

.icon-renlianshibie:before {
  content: "\e6b6";
}

.icon-daziji:before {
  content: "\e660";
}

.icon-xiaoyuan:before {
  content: "\e655";
}

.icon-jurassic_safe:before {
  content: "\e6a1";
}

.icon-xiangmu_xiangmuguanli:before {
  content: "\e797";
}

.icon-yibujiekou:before {
  content: "\e629";
}

